<head>
  <title>listarPersonas</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link de bootstrap -->
  <link href="/Enlaces/links/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <!-- para buscador de select -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
  <!-- nuevos link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- estilo css de datatable -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">

  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js">

  <!-- link de icono ventana -->
  <link rel="shortcut icon" type="image/png" href="/img/icono.png">
    <!-- alerta personalizada -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 

  <!-- link css -->
  <link rel="stylesheet" href="/css/listarpersona.css">

</head>
</head>

<body>
  <%- include ('barra_nav')%>
    <h4> Lista De Personas</h4>

    <!-- inicio de modal editar persona -->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Editar Datos</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container" id="listar">
              <div class="row">
                <div class="col-md-12 p-3">
                  <form id="form" action="" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="imagen" class="form-control"> 
                    <div class="col-md-4" id="conteI">
                      <div class="card " id="previa">
                        <img src="/img/perfil.png" id="foto">
                        
                        <div class="footer">
                            <input type="file" name="avatar" id="imgsub" style="display: none;">
                            <input type="button" value="Seleccionar Foto" class="btn btn-outline-warning"
                              onclick="document.getElementById('imgsub').click()">
                              
    
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="inputEmail4" class="form-label">Id_persona</label>
                      <input type="text" class="form-control" id="id_persona" disabled>
                    </div>
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Nombres</label>
                      <input type="text" class="form-control" id="nombre_p" placeholder=" &#128100 Nombres " required />
                    </div>
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Fecha Nacimiento</label>
                      <input type="date" class="form-control" id="fecha">
                    </div>
                    <div class="col-md-6">
                      <label for="inputState" class="form-label">Tipo de identificacion</label>
                      <select  id="tipo_identificacion" class="form-select">
                        <option selected >Selecionar...</option>
                        <option value="Cédula de Cuidadania">Cédula de Cuidadania</option>
                        <option>TEdentidad</option>
                        <option>Pasaporte</option>
                        <option>Otros</option>
                        <!-- <option>Otros</option> -->
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">N°-Identificación</label>
                      <input type="number" value="" class="form-control" id="identificacion_p" name='indentificacion_p'
                        required>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label ">Departamento</label>
                      <select type="text" id="departamento" data-style="btn btn-outline-secondary"
                        data-live-search="true" class="form-control selectpicker ">

                      </select>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label">Municipio</label>
                      <select type="text" id="municipio" data-style="btn btn-outline-secondary" data-live-search="true"
                        class="form-control selectpicker ">

                      </select>
                    </div>
                    <div class="col-6">
                      <label for="inputAddress" class="form-label">Dirección</label>
                      <input type="text" class="form-control" id="direccion" placeholder=" &#8962 Dirección">
                    </div>
                    <div class="col-6">
                      <label for="inputAddress2" class="form-label">Telefono/Celular</label>
                      <input type="text" class="form-control" id="telefono" placeholder=" &#128222 Fijo/Celular">
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">Tipo de Persona</label>
                      <select id="rol_per" class="form-select">
                        <option selected>Selecionar...</option>
                        <option>Miembro</option>
                        <option>Visitante</option>
                        <option>Invitado</option>

                      </select>
                    </div>
                    <div class="col-md-1">
                      <label for="inputState" class="form-label">Bautizado</label>
                      <select id="bautizado" class="form-select">
                        <option selected></option>
                        <option>Si</option>
                        <option>No</option>

                      </select>
                    </div>
                    <div class="col-md-1">
                      <label for="inputState" class="form-label">Discipulado</label>
                      <select id="discipulado" class="form-select">
                        <option selected></option>
                        <option >Si</option>
                        <option>No</option>

                      </select>
                    </div>


                  </form>

                  <!--   <div class="footer">
                          <span>©-IitanNet 2021</span>
                      </div> -->

                </div>
             

                <div class="container1">
                  <div class="row">
                    <div class="col">
                      <div class=" d-grid">

                      </div>

                    </div>

                  </div>
                </div>


              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="btn-nuevo" class="btn btn-warning btn-lg " onclick="actualizarPersona()"
              data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              Actualizar
            </button>
            <!--  <button type="button" class="btn btn-secondary" ">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- fin modal listarpersona -->

    <div class="container">
      <div class="row">
        <div class=" col-md-12 row p-2">
          <table class="table table-hover" id="tabla">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Identificación</th>
                <th scope="col">Nombres</th>
                <th scope="col">Fecha De Nacimiento</th>
                <th scope="col">Departamento</th>
                <th scope="col">Municipio</th>
                <th scope="col">Dirección</th>
                <th scope="col">Telefono</th>
                <th scope="col">Tipo de Persona</th>
                <th scope="col">Discipulado</th>
                <th scope="col">Bautizado</th>
                <th scope="col">&#9998</th>
                <th scope="col">&#9940</th>
              </tr>
            </thead>
            <tbody id="tablas">
              <tr>
                
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
      <p id="demo"></p>
    </div>


    <!-- scrit de boostrap -->

    <!--  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <!-- scrip propio -->
    <script src="/js/script_cumple.js"></script>
    <!-- link de estilos datatable -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>


    <!-- link para botones -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

    <!-- para buscador del select-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/i18n/defaults-*.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
    
    <!-- otro para alert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<script>
// contador de id de la tabla listar
var contPersona = 0;

  listar_personas();
  listar_municipio();
  listar_departamento();

  //funvion para dtpto
  //select depart
  $(document).ready(function () {
    $('#departamento').selectpicker();
  });
  //


  //select municipio
  $(document).ready(function () {
    $('#municipio').selectpicker();
  });
  //
  

  function listar_personas() {


    fetch('/ListarPersona/listar_personas', {
      method: 'get'

    })
      .then(resp => resp.json())
      .then(data => {
        $(document).ready(function () {
          $('#tabla').DataTable({
            "scrollX": "200px",
            "scrollCollapse": true,
            language: {
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No se encontraron resultados",
              "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
              "infoFiltered": "(filtrado de un total de _MAX_ registros)",
              "sSearch": "Buscar:",
              "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
              },
              "sProcessing": "Procesando...",


            },
            //dom:'Bfrtip',


          });
        });



        var html = '';
        for (var i in data) {
          contPersona += 1
          html += `<tr><td>${contPersona}</td>
          <td>${data[i].identificacion_p}</td>
          <td>${data[i].nombre_p}</td>
          <td>${data[i].dates}</td>
          <td>${data[i].departamento}</td>
          <td>${data[i].municipio}</td>
          <td>${data[i].direccion}</td>
          <td>${data[i].telefono}</td>
          <td>${data[i].rol_per}</td>
          <td>${data[i].disipulado}</td>
          <td>${data[i].bautizado}</td>
          
          
          <td> 
                
                  <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a href ='javascript:Seleccionar_persona(${data[i].id_persona})' title='Editar'>&#9998</a>
                   
                    <td> </button><a class='btn btn-outline-danger' href ='javascript:Eliminar (${data[i].id_persona})'title= 'Eliminar' >&#9940</a></td>
                    
                  
                 
          </td>
          </tr>`;

        }
       

        document.getElementById("tablas").innerHTML = html;
        /*  document.getElementById("msg").innerHTML="<div class='alert alert-primary'role='alert'>Se listo la Noticia </div>"; */

      });
  }




  /* funcion para capturar el id y abrir el modal */
  var idDepartamentoGlobal = 0;
  var idMunicipioGlobal = 0;
  function Seleccionar_persona(id) {
   
    const datos = new URLSearchParams();
    datos.append('id_persona', id);

    fetch('/ListarPersona/Buscar_persona', {
      method: 'post',
      body: datos
    })
      .then(resp => resp.json())
      .then(data => {
        
        var item = data[0];
        console.log(data);

        //for (var i in data)
        //{
          document.getElementById("tipo_identificacion").value = item.tipo_identificacion;
          idDepartamentoGlobal = item.id_departamento;
          idMunicipioGlobal = item.id_municipio;
        document.getElementById("id_persona").value = id;
        document.getElementById("nombre_p").value = item.nombre_p;
        document.getElementById("identificacion_p").value = item.identificacion_p;
        document.getElementById("departamento").value = item.id_departamento;
        document.getElementById("municipio").value = item.id_municipio;
        document.getElementById("fecha").value = item.fecha;
        document.getElementById("direccion").value = item.direccion;
        document.getElementById("telefono").value = item.telefono;
        document.getElementById("rol_per").value = item.rol_per;
        document.getElementById("discipulado").value = item.disipulado;
        document.getElementById("bautizado").value = item.bautizado;
        document.getElementById("imagen").value = item.imagen;
        document.getElementById("foto").src = "/upload/"+item.imagen;
        
       



            //console.log(id);

        //}
       // document.getElementById('listar').innerHTML = html;

       
        
        setTimeout(() => {
          //SELECCIONA EL DEPARTEAMENTO Y EL MUNICIPIO DEL CLIENTE
          $("#departamento option[value="+idDepartamentoGlobal+"]").attr("selected", true);
          $("#municipio option[value="+idMunicipioGlobal+"]").attr("selected", true);
          $(".selectpicker").selectpicker("refresh")
        }, 1000);

       
      });
  }

  function listar_departamento() {
    fetch('/Registros/listar_departamento', {
      method: 'get'

    })
      .then(resp => resp.json())
      .then(data => {


        var html = '<option value =0>Seleccionar </option>';

        for (var i in data) {
          html += `<option value =${data[i].id_departamento}>${data[i].departamento} </option>`;
        }

        document.getElementById("departamento").innerHTML = html;
        $('#departamento').selectpicker('refresh');
      })
  }
  function listar_municipio() {
    fetch('/Registros/listar_municipio', {
      method: 'get'

    })
      .then(resp => resp.json())
      .then(data => {

        var html = '<option value =0>Seleccionar </option>';
        for (var i in data) {
          html += `<option value =${data[i].id_municipio}>${data[i].municipio} </option>`;
        }
        document.getElementById("municipio").innerHTML = html;
        $('#municipio').selectpicker('refresh');



      })
  }
  
  //registra imagen para actulizarla
/*   function registrarImagen() {

    // This assumes the form's name is `myForm`
    
    fetch('/ListarPersona/subirImage', {
      method: 'POST',
      body: formData
    })


    console.log(form);




  } */


  /* funcion actualizarPersona */

  function actualizarPersona() {
    
    
    var id = document.getElementById('id_persona').value;
    var nombre_p = document.getElementById('nombre_p').value;
    var tipo_identificacion =document.getElementById('tipo_identificacion').value;
    var fecha = document.getElementById('fecha').value;
    var identificacion_p = document.getElementById('identificacion_p').value;
    var departamento = document.getElementById('departamento').value;
    var municipio = document.getElementById('municipio').value;
    var direccion = document.getElementById('direccion').value;
    var telefono = document.getElementById('telefono').value;
    var rol_per = document.getElementById('rol_per').value;
    var discipulado = document.getElementById('discipulado').value;
    var bautizado = document.getElementById('bautizado').value;
    var imgsub = document.getElementById('imgsub').value;
    var imagen = document.getElementById('imagen').value;
    var form = document.getElementById("form");
    var formData = new FormData(form);
    //const datos = new URLSearchParams();

    if (nombre_p == '') {
      alert('El campo de nombre es obligatorio')
      return false;
    }
    if (fecha == '') {
      alert('El campo de fecha es obligatorio')
      return false;
    }
  
    if (identificacion_p == '') {
      alert('El campo de identificacion_p es obligatorio')
      return false;
    }
    if (direccion == '') {
      alert('El campo de dirección es obligatorio')
      return false;
    }
    if (identificacion_p == '') {
      alert('El campo de identificacion_p es obligatorio')
      return false;
    }
    if (discipulado == '') {
      alert('El campo de discipulado es obligatorio')
      return false;
    }
    if (bautizado == '') {
      alert('El campo de bautizado es obligatorio')
      return false;
    }
    /* if(fechahoy.substring(4)===fecha.substring(4)){
       alert('Felicidades en tu dia ');
      document.getElementById('alert').innerHTML
      }
      else{
          alert('fecha errada');
      }
      */


    formData.append('id_persona', id);
    formData.append('nombre_p', nombre_p);
    formData.append('tipo_identificacion',tipo_identificacion);
    formData.append('fecha', fecha);
    formData.append('identificacion_p', identificacion_p);
    formData.append('departamento', departamento);
    formData.append('municipio', municipio);
    formData.append('direccion', direccion);
    formData.append('telefono', telefono);
    formData.append('rol_per', rol_per);
    formData.append('discipulado', discipulado);
    formData.append('bautizado', bautizado);
    formData.append('imagen', imagen);
    formData.append('imgsub', imgsub);
    
    
   
     
    fetch('ListarPersona/ActualizarPersona', {
      method: 'PUT',
      body: formData
    })
      .then(res => res.text())
      .then(data => {
        alert(data);
        

        window.location = "http://localhost:4000/ListarPersona";

      });

  }
  /* funcion para eliminarPerosna */
  
  
  
  
function Eliminar(id_persona) {
  
//var respuesta = confirm("¿Esta seguro de Eliminar los Datos?");

Swal.fire({
  title: '¡Eliminar!',
  text: "¿Esta seguro de Eliminar los Datos?",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#008000',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Si, Borrar!'
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire(
      'Eliminado!',
      'Se Eliminaron los Datos con Éxito .',
      'success'
    )

    const datos = new URLSearchParams();

    datos.append('id_persona', id_persona);

    fetch('ListarPersona/Eliminar', {
      method: 'delete',
      body: datos
    })
      .then(resp => resp.text())
      .then(data => {


     /*  swal(data,{
      title:'Borrar Datos',
      text:' Se Eliminaron los Datos con Éxito ',
      icon:'success'
      
    }
    ); */


    redirect();
    //window.location = "http://localhost:4000/ListarPersona";
     
      
        //listar_personas();
      });


  }
})

/* if(respuesta== true)
{
      
  
      
} */
/* else
{
  return false;
} */




}
/* funcion que direcciona despúes de eliminar */
  function redirect(){
    setTimeout("location.href='http://localhost:4000/ListarPersona'",4000);
  }

</script>